[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21.2"
opencv-contrib-python = "==4.5.3.56"
pygame = "*"
dlib = "*"
gtts = "*"
mpg123 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
faceboard = "bash -c \"export PYTHONPATH=${PWD} && python3 entry.py\""
keyboard = "bash -c \"export PYTHONPATH=${PWD} && python3 sound_keyboard/keyboard/keyboard.py\""
detector = "bash -c \"export PYTHONPATH=${PWD} && python3 sound_keyboard/face_gesture_detector/face_gesture_detector.py\""