[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21.2"
opencv-contrib-python = "==4.5.3.56"
pygame = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
keyboard = "bash -c \"export PYTHONPATH=${PWD} && python3 sound_keyboard/keyboard/keyboard.py\""